

.footer {
    /* background-color: blue; */
    height: 40vh;
}

h1{
    font-size: 25px;
    margin-bottom: 10px;
}

.location {
    width: 20%;
    text-align: center;
}

.social {
    width: 30%;
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
   
}

.face {
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 8px;

}

.google {
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 8px;

}

.twit {
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 8px;

}

.linked {
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 8px;

}
.slack {
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    /* margin-right: 8px; */

}

.about {
    width: 32%;
    text-align: center;
    /* border: 2px solid black; */

}

.fa {
    color: yellow;
}

.all{
    display: flex;
    background-color: rgba(0, 0, 0, 0.836);
    justify-content: space-around;
    padding: 30px 40px 35px 20px;
    color: white;
    height: 85%;
}

.buttom{
    /* height: 10vh; */
    background-color: rgba(0, 0, 0, 0.705);
    text-align: center;
    height: 20%;
    padding-top: 8px;
}