* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
  background-color: black;
  height: 15%;
  padding:25px;
  color: white;
}

.App-body {
  background-color: rgb(221, 221, 221);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.App-side-bar {
  width: 30%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
}

.App-avialable-product {
  height: 50px;
  color: rgb(153, 212, 221);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 0%;
}

.App-add-product {
  height: 50px;
  color: rgb(89, 95, 93);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 0%;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
}

.App-remove-product {
  height: 50px;
  color: rgb(133, 157, 202);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 0%;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
}

.App-account {
  height: 50px;
  color: lightcoral;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 0%;
  margin-bottom: 0.5px;
  margin-top: 0.5px;
}

.App-main {
  width: 100%;
}

/* this is where the add product result css begins */
.add-product-view {
  display: flex;
  padding: 20px 0px 0px 20px ;
}

.main {
  width: 20vw;
  height: 40%;
  margin-right: 60px;
}

.no-p {
  display: flex;
  justify-content: space-between;
  margin: 0px 5px 0px 5px;
}

.preview {
  height: 45vh;
  width: 18vw;

}

.preview img {
  width: 100%;
  height: 212px;
}

.drop-down{
  width: 120px;
}

.h11{
  font-size: 25px;
}

.picture {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.form  {
  font-size: 14px;
}

.form input {
  width: 90%;
}

.btn {
 width: 10vw;
 height: 7vh;
 margin-top: 40px;
 border: 1px solid black;
 border-radius: 3px;
 margin-left: 10%;
 
}

/* this is where the add product result css ends */

/* this is where the available product result css begins */
.title {
  text-align: start;
  font-family: arial, sans-serif;
  margin: 10px 0px 5px 20px;
}

.list { text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid black;
   width: 100%;
}

.list td, .list th {
  border: 2px solid black;
  padding: 8px;
}

 .list tr:nth-child(even){background-color: white;} 

.list tr:hover {background-color: #ddd;} 

 .list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: black;
} 

/* this is where the available product result css ends */



